<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Flask App</title>
        <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">




    </head>
    <body>
        {% block body %}{% endblock %}
    
        <script src = 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'>
        
        </script>

    </body>

</html>


//making the title of the page in first 6 lines........
//extends it with html file , which was written will show it on the web page......